@font-face {
    font-family: Poppins;
    src: url('./fonts/Poppins-Regular.ttf');
}

*,*::after,*::before{
    padding: 0;
    box-sizing: border-box;
    margin: 0%;
    font-family: Poppins;
}

#content{
    width: 100vw;
    height: 100vh;
    background-image: url('./resources/dusk_rainy.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainFrame{
    width: 900px;
    height: 600px;
    border: thick solid gray;
    background-color: rgba(10, 10, 10, 0.363);
    box-shadow: 10px 10px 10px 10px rgba(122, 122, 122, 0.184);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainFrame h1{
    padding: 15px;
    color: white;
}